@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using KursCollection.ViewModel;
@model ItemViewModel;
<br>
@*<h3>--- Draw what you whant ---</h3>*@
<h3>@Model.ItemName</h3>

<p>technical works</p>
<div style=" background-color:gray; border-width: 5px; border-color:black; align-content: center">
    <canvas></canvas>
</div>


<p>likebutton</p>
<p>comments</p>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>